{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="banner">
        <div class="banner-container">
            <div class="banner-inner">
                <h1>GET THE VITAL FACTS AND INFORMATION ABOUT THE FORECASTING OF MEDICINES AND HOW FORECASTING OF MEDICINES WILL BE HELPFUL TO OVERCOME UNCONDITIONAL SITUATIONS.<br></h1><br>
                <a style="font-size:15px;" href="/learn" class="banner-btn">Learn more>>> </a>
            </div>            
        </div>
    </div>
  </div>
 
    <div class="btf-row-3">
        <div class="container slick-slider">
            <div class="title-row">
                <h2>Health Mart</h2>
                <img src="{{url_for('static', filename='images/coma.png')}}">
                <p>Demand forecasting of medicine using social networking data describes future customer demand of medicine by using past and current sales data of medicine.</p>
                <p> Dr Mehwish,<span>PK</span></p>
            </div>
            <div class="title-row">
                <h2>D.Watson</h2>
                <img src="{{url_for('static', filename='images/coma.png')}}">
                <p>MEDICINES ARE ALSO IMPORTANT FOR HUMAN BEINGS  AS WELL AS OXYGEN:</p>
                <p> Dr Abdullah,<span>UK</span></p>
            </div>
            <div class="title-row">
                <h2>Revive Pharmacy</h2>
                <img src="{{url_for('static', filename='images/coma.png')}}">
                <p>MEDICINES HEALS DOUBTS AS WELL AS DISEASES:</p>
                <p> Dr Ruba,<span>US</span></p>
            </div>
             <div class="title-row">
                <h2>Pakistan Pharmacy</h2>
                <img src="{{url_for('static', filename='images/coma.png')}}">
                <p>THE HIGHEST DEGREE OF A MEDICINE IS LOVE: </p>
                <p> Dr Anas,<span>PK</span></p>
            </div>
        </div>
</div>
    <div class="what-we-do">
        <div class="what-we-do-container">
            
         <div class="what-we-do-lower">
                <div class="client-haeding">
                    <h2>OUR CLIENTS</h2>
                </div>
                <div class="client-images">
                  <a href="mailto:abdullahblouch143@gmail.com"> <img src="{{url_for('static', filename='images/1.png')}}"></a>
                   <!-- <p>Dr.Paul</p>  -->
                  <a href="mailto:abdullahblouch143@gmail.com"><img src="{{url_for('static', filename='images/2.png')}}"></a>
                   <!-- <h2>Dr.Smith</h2>  -->
                  <a href="mailto:abdullahblouch143@gmail.com">  <img src="{{url_for('static', filename='images/3.png')}}"></a>
                    <!-- <p>Dr.John</p>  -->
                  <a href="mailto:abdullahblouch143@gmail.com"> <img src="{{url_for('static', filename='images/4.png')}}"></a>
                    <!-- <p>Dr.Aqeel</p>  -->
                </div> 
            </div>
        </div>
    </div>
    
    </div>
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src=" {{url_for('static', filename='js/slick.js  ')}}"></script>
    <script src=" {{url_for('static', filename='js/custom.js ')}}"></script>
    <script src=" {{url_for('static', filename='js/data.js ')}}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock %}
